POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
POKEMON_ENTRENADORES=[Pikachu]
OBJETIVO_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
CONNECTION_RETRY=30
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=FIFO
ALFA=0.5
ESTIMACION_INICIAL=2
QUANTUM=1
IP_BROKER=
PUERTO=9898
IP_TEAM=
PUERTO_TEAM=9897
BACKLOG_GAMEBOY=5
LOG_FILE=team_logs_oficial
PRINT_OFICIAL=0
PRINT_NO_OFICIAL=1