CONNECTION_RETRY=30
LOG_FILE=/home/utnso/tp-2020-1c-Ripped-Dinos/TP-Delibird_Team/team_logs.txt
POSICIONES_ENTRENADORES=[ 1|2,3|7, 5|5 ]
POKEMON_ENTRENADORES=[Pikachu|Squirtle|Pidgey, Squirtle|Charmander,Bulbasaur]
OBJETIVO_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey, Pikachu|Charmander|Charmander,Squirtle|Bulbasaur]
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
IP=127.0.0.1
PUERTO=9898