CONNECTION_RETRY=30
LOG_FILE=/home/utnso/tp-2020-1c-Ripped-Dinos/TP-Delibird_Team/team_logs.txt
POSICIONES_ENTRENADORES=[1|2,4|2,6|2]
POKEMON_ENTRENADORES=[]
OBJETIVO_ENTRENADORES=[Pikachu,Squirtle,Bulbasaur]
RETARDO_CICLO_CPU=3
TIEMPO_DE_ESPERA=2
ALGORITMO_PLANIFICACION=FIFO
ALFA=0.5
ESTIMACION_INICIAL=3
QUANTUM=4
IP=127.0.0.1
PUERTO=9898
IP_TEAM=127.0.0.2
PUERTO_TEAM=9897
BACKLOG_GAMEBOY=5