CONNECTION_RETRY=30
LOG_FILE=/home/utnso/tp-2020-1c-Ripped-Dinos/TP-Delibird_Team/team_logs.txt
POSICIONES_ENTRENADORES=[ 1|2,1|2,1|2 ]
POKEMON_ENTRENADORES=[Pikachu|Squirtle|Pidgey, Squirtle|Charmander,Bulbasaur]
OBJETIVO_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey, Pikachu|Charmander|Charmander,Squirtle|Bulbasaur]
RETARDO_CICLO_CPU=3
ALGORITMO_PLANIFICACION=SJFCD
ALFA=0.5
ESTIMACION_INICIAL=3
QUANTUM=4
IP=127.0.0.1
PUERTO=9898
IP_TEAM=127.0.0.2
PUERTO_TEAM=9897
BACKLOG_GAMEBOY=5