POSICIONES_ENTRENADORES=[1|1,1|5,1|9]
POKEMON_ENTRENADORES=[]
OBJETIVO_ENTRENADORES=[Vaporeon|Charmander,Pikachu|Squirtle,Flareon]
CONNECTION_RETRY=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
ALFA=0.5
ESTIMACION_INICIAL=2
QUANTUM=1
IP=127.0.0.1
PUERTO=9898
IP_TEAM=127.0.0.2
PUERTO_TEAM=9897
BACKLOG_GAMEBOY=5
LOG_FILE=/home/utnso/Escritorio/team_logs_oficial